<h2 class="accordion-header recommendation">
    <button class="accordion-button rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#${destination.id}" aria-expanded="false" aria-controls=${destination.id}>
        <h3>
            ${titleConfig[0]}
            <small class="text-body-secondary">${titleConfig[1]}</small>
        </h3>
    </button>
</h2>
<div id="${destination.id}" class="accordion-collapse collapse" data-bs-parent="#recommend_list">
    <div class="accordion-body card" id="${destination.id}_body" style="width: 18rem;">
        <img class="imageUrl rounded card-img-top" src="${destination.imageUrl}">
        <div class="card-body">
            <p class="card-text">${destination.description}</p>
        </div>
    </div>
</div>
